<!-- sidenavselinks-->
  <div id="mySidenav">
    <a href="{{SE0.link}}" id="Docker" target="_blank">Docker</a>
    <a href="{{SE1.link}}" id="Dribble" target="_blank">Dribble</a>
    <a href="{{SE2.link}}" id="Github" target="_blank">Github</a>
    <a href="{{SE3.link}}" id="IconFinder" target="_blank">IconFinder</a>
    <a href="{{SE4.link}}" id="Instagram" target="_blank">Instagram</a>
    <a href="{{SE5.link}}" id="LinkedIn" target="_blank">LinkedIn</a>
    <a href="{{SE6.link}}" id="StackOverFlow" target="_blank">StackOverFlow</a>
    <a href="{{SE7.link}}" id="Youtube" target="_blank">Youtube</a>
  </div>

<!-- <input type="checkbox" [(ngModel)]="selected"/>
    <input type="checkbox" [(ngModel)]="selected2" />

    <span *ngIf="selected && selected2">
      Display me when both checkboxes are selected :)
    </span>
 -->

<!-- Opening Items -->
  <div class="splitscreen">
    <div class="leftYT"  style="margin-left: 15%">
       <br>
        <h5 id="slideHeader"><i class="arrow right" ></i><i class="arrow right"></i> DESIGNER, TESTER</h5>
        <h5 id="slideHeader"><i class="arrow right" ></i><i class="arrow right"></i> PROJECT MANAGEMENT</h5>
        <h5 id="slideHeader"><i class="arrow right" ></i><i class="arrow right"></i> FRONT & BACK-END DEVELOPMENT</h5>  
    </div>

    <div class="rightYT"  style="margin-right: 8%; margin-left: 15%; transform: rotate(0deg);">
        <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [height]=280
          [width]=420>
        </youtube-player>
    </div>
  </div>
  <br>
  <div class="container"> 
    <div class="row justify-content-center" id="smallYt">
      <youtube-player
        [videoId]="id"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [height]=200
        [width]=auto>
      </youtube-player>
    </div>
  </div>
  <br><br>

<!-- Introduction box -->
  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card w-45" align="center">
          <div class="card-body">
            <h4 id="intro"><i class="arrow right" id="slide"></i>  Introduction</h4>
            <h6 class="card-subtitle mb-1 text-muted">Hello there (In my best Obi Wan impersonation)</h6>
            <p class="card-text"> I have a new website as you can see, the purpose is to have a place where I can put all my projects in one place and have a convenient way to use it online. All my work is open source and you are free to use it as long it remains open source and isn't for commercial use. Just reference me or just send me an email just to ask for permission or if you have any questions on my terms of use. Enjoy!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

<!-- Photo Grid -->
  <div class="container"> 
    <div class="col-lg-12">
      <div class="header">
         <h3 id="currProjects"><i class="arrow right" id="slide"></i>  Current Projects</h3>
      </div>
      <br>
      <!-- same classes just seperated & repeated due to bootstrap layout -->
      <div class="row">
        <div class="column">
          <div (mouseover)="changeText=true" (mouseout)="changeText=false" routerLink = "/portfolio" routerLinkActive="active">
            <span *ngIf="!changeText">
              <div class="greyscale"><!-- Hide -->
                <img src="{{image0.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText"><!-- Show -->
              <a href="{{link0.link}}">
                <div class="lightbox">
                  <img src="{{image0.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Graphical Designs</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 
    
        <div class="column">
          <div (mouseover)="changeText1=true" (mouseout)="changeText1=false">
            <span *ngIf="!changeText1">
              <div class="greyscale">
                <img src="{{image1.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText1">
              <a href="{{link1.link}}">
                <div class="lightbox">
                  <img src="{{image1.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Web Projects</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText2=true" (mouseout)="changeText2=false">
            <span *ngIf="!changeText2">
              <div class="greyscale">
                <img src="{{image2.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText2">
              <a href="{{link2.link}}">
                <div class="lightbox">
                  <img src="{{image2.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">AI & E-Commerce</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText3=true" (mouseout)="changeText3=false">
            <span *ngIf="!changeText3">
              <div class="greyscale">
                <img src="{{image3.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText3">
                 <a href="{{link3.link}}">
                <div class="lightbox">
                  <img src="{{image3.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Marketing Projects</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText4=true" (mouseout)="changeText4=false">
            <span *ngIf="!changeText4">
              <div class="greyscale">
                <img src="{{image4.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText4">
              <a href="{{link4.link}}">
                <div class="lightbox">
                  <img src="{{image4.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Java Programming</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText5=true" (mouseout)="changeText5=false">
            <span *ngIf="!changeText5">
              <div class="greyscale">
                <img src="{{image5.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText5">
                  <a href="{{link5.link}}">
                <div class="lightbox">
                  <img src="{{image5.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Logo Design</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText6=true" (mouseout)="changeText6=false">
            <span *ngIf="!changeText6">
              <div class="greyscale">
                <img src="{{image6.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText6">
                  <a href="{{link6.link}}">
                <div class="lightbox">
                  <img src="{{image6.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">VSC & VS Projects</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 

        <div class="column">
          <div (mouseover)="changeText7=true" (mouseout)="changeText7=false">
            <span *ngIf="!changeText7">
              <div class="greyscale">
                <img src="{{image7.name}}" style="width:100%">
              </div>
            </span>
            <span *ngIf="changeText7">
                  <a href="{{link7.link}}">
                <div class="lightbox">
                  <img src="{{image7.name}}" style="width:100%">
                  <div class="overlayBox">
                    <div class="overlayText">Other Projects</div>
                  </div>
                </div>
              </a>
            </span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <br>

  <!-- div class="container"> 
     <div class="row justify-content-center">
      <div class="col-12">
        <div> -->
    <!-- new page will projects that i have done -->
        <!-- <h3 id="portfolio"><i class="arrow right" id="slide"></i>  Portfolio</h3>
        </div>
      </div>
    </div>
  </div> -->

<!-- experience dropdowns -->
  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <h3 id="exp"><i class="arrow right" id="slide"></i>  Experience</h3>
        </div>
        <div class="row justify-content-center"> 
          <div class="col-8">
            <div class="row justify-content-center">
               <a href="#all" (click)="expDropAll($event)"><div class="circle">All</div></a>
            </div>
            <div class="row justify-content-center">  
                <div class="triangle" (click)="hideAll($event)">
                </div>
            </div>  

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop3($event)"><div class="circle">2013</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t3" (click)="hide3($event)"> {{exp2013.exp}}</div>
            </div>

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop4($event)"><div class="circle">2014</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t4" (click)="hide4($event)"> {{exp2014.exp}}</div>
            </div>   

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop5($event)"><div class="circle">2015</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t5" (click)="hide5($event)"> {{exp2015.exp}}</div>
            </div>  

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop6($event)"><div class="circle">2016</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t6" (click)="hide6($event)"> {{exp2016.exp}}</div>
            </div>  
            
            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop7($event)"><div class="circle">2017</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t7" (click)="hide7($event)"> {{exp2017.exp}}</div>
            </div>  

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop8($event)"><div class="circle">2018</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t8" (click)="hide8($event)"> {{exp2018.exp}}</div>
            </div>  

            <div class="row justify-content-center">
               <a href="#all" (click)="expDrop9($event)"><div class="circle">2019</div></a>
            </div>
            <div class="row justify-content-right">    
                <div class="t9" (click)="hide9($event)"> {{exp2019.exp}}</div>
            </div>  

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

<!-- form -->
  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
         <h3 id="contact"><i class="arrow right" id="slide"></i>  Contact Request</h3>
        </div>

    <form id="frmContact" action="action.php" method="POST"enctype="multipart/form-data"onsubmit="return validateContactForm()">
      <div id="mail-status"></div>
        <div class="contact-row column-right">
            <label>Full Name</label> <span
                id="userName-info" class="info"></span><br /> 
                <input type="text" name="userName" id="userName" placeholder="John Snow" class="demoInputBox">
        </div>
        <div class="contact-row">
            <label>Email</label> <span id="userEmail-info" class="info"></span><br />
            <input type="text" name="userEmail" id="userEmail" placeholder="www.johnsnow@gmail.com" class="demoInputBox">
        </div>
        <div class="contact-middle column-right">
            <label>Phone</label> <span id="phone-info" class="info"></span><br />
            <input type="number" name="phone" id="phone_info" placeholder="+382-68-900-900" class="demoInputBox">
        </div>
        <div class="contact-middle">
            <label>Reason</label> <span id="reason-info" class="info">
              <datalist id="options">
                <option value="Question">Any general questions/requests</option>
                <option value="Business/Employment">Working, Promotional & Business inqueries</option>
                <option value="Teaching/Lecturing">Lessons, Learning, Timetables</option>
                <option value="Reasearch"></option>
                <option value="Other">Specify in message</option>
              </datalist>
            </span><br />
            <input list="options" name="reason" id="reason" placeholder="Business/Employment" class="demoInputBox" maxlength="12">
        </div>
        <div ng-model="htmlcontent" ta-max-text="450">
            <label>Message</label> <span id="message-info" class="info"></span><br />
            <textarea name="message" id="message" class="demoInputBox" rows="3" maxlength="450"></textarea> 
            <p style="display: inline-block; font-style: italic;">Max Length 450 characters...</p>
        </div>
        <div>
            <input type="submit" value="Request" class="btnAction" />
        </div>
    </form>
    <div id="loader-icon" style="display: none;">
        <!-- <img src="LoaderIcon.gif" /> -->
    </div>
  </div>

<!-- back to home button -->
  <div class="ml-auto" style="float:right; margin-right: 70px">
    <p>
      <a href="#" class="btn btn-primary">
        <i class="arrow up"></i>
      </a>
    </p>
  </div>
   
<!-- Footer -->
  <footer class="container">
    <hr>
     <div class="row justify-content-center">
      <div>
        &nbsp;
        <a href="{{SE0.link}}" target="_blank"><img src="{{SEI0.image}}" class="green"></a>&nbsp;
        <a href="{{SE1.link}}" target="_blank"><img src="{{SEI1.image}}" class="iconColor"></a>&nbsp;
        <a href="{{SE2.link}}" target="_blank"><img src="{{SEI2.image}}" class="green"></a>&nbsp;
        <a href="{{SE3.link}}" target="_blank"><img src="{{SEI3.image}}" class="iconColor"></a>&nbsp;
        <a href="{{SE4.link}}" target="_blank"><img src="{{SEI4.image}}" class="green"></a>&nbsp;
        <a href="{{SE5.link}}" target="_blank"><img src="{{SEI5.image}}" class="green"></a>&nbsp;
        <a href="{{SE6.link}}" target="_blank"><img src="{{SEI6.image}}" class="iconColor"></a>&nbsp;
        <a href="{{SE7.link}}" target="_blank"><img src="{{SEI7.image}}" class="green"></a>
      </div>
    </div>
    <div class="row justify-content-center">
    <p style="text-align: center; color: white">&copy; Goran Vujovic 2019 - All Rights Reserved</p>
    </div>
  </footer>

<router-outlet></router-outlet>